{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">
            <h1>Bienvenue sur le backoffice de Travel Mate</h1>
            <div class="home-menu">
                <div class="home-menu__card">
                    <div class="card__info card__info--event">
                        <h4 class="">Gestion des évenements</h4>
                        <p><small><em> Modifier, supprimer, ajouter un évènement...</em></small></p>
                    </div>
                    <div class="card__button card__button--event">
                        <a href="{{ path('backoffice_event_index') }}">y accéder</a>
                    </div>
                </div>
                <div class="home-menu__card">
                    <div class="card__info card__info--category">
                        <h4 class="">Gestion des categories</h4>
                        <p><small><em> Modifier, supprimer, ajouter une catégorie...</em></small></p>
                    </div>
                    <div class="card__button card__button--category">
                        <a href="{{ path('backoffice_category_index') }}">y accéder</a>
                    </div>
                </div>
                <div class="home-menu__card">
                <div class="card__info card__info--user">
                        <h4 class="">Gestion des utilisateurs</h4>
                        <p><small><em> Modifier, supprimer, ajouter un utilisateur...</em></small></p>
                    </div>
                    <div class="card__button card__button--user">
                        <a href="{{ path('backoffice_user_index') }}">y accéder</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
