/* body */

body {
    margin: 0 20px;
    background-color: #22577E;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a:hover {
    text-decoration: none;
    color: white;
}
#content {
    padding-top: 90px;
}
#results {
    padding-top: 120px;
}
/* NAV */

.nav {
    font-weight: bold;
    z-index: 1;
    position: fixed;
    left: 0;
    padding: 0 30px;
    width: 100%;
    height: 80px;
    transition: 0.5s;
}
.sticky {
    background: #1F3849;
}
.nav, .nav__items, .category-nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav, .nav__items a {
    color: #FF914D;
}
.nav__items h1 {
    margin-right: 2em;
    font-family: 'lobster';
}
.nav__items a {
    margin: 0 2em;
}

/* NAV - CATEGORY NAV */
.category-nav__items {
    flex-direction: column;
    justify-content: space-evenly;
}
.category-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 90vh;
    border-right: solid white 2px;
}

/* HOME */

/* HOME - SEARCH BAR */

.search-bar {
    background-image: url("../images/travel-mate-logo-no-title.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.search-bar * {
    margin: 0 10px;
}
.search-bar label, legend {
    display: none;
}
#form{
    display: flex;
    flex-direction: row;
    height: 150px;
}
.search-bar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form_name, #form_country, #form_category {
    width: 160px;
}
#form_city {
    width: 250px;
}
#form_date {
    width: 340px;
}
.form__submit {
    margin: 30px;
    width: 70%;
}
.invalid-feedback {
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}

/* HOME - RESULT */

.button-group {
    display: flex;
    justify-content: space-evenly;
}

/* CATEGORY PAGE */

.event__list, .event__category {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.event__list--margin {
    margin-left: 200px;
}
hr {
    margin: 50px 0;
}
.event__card {
    position: relative;
    background: #FF5959;
    border-radius: 10%;
    height: 300px;
    width: 400px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.event__city {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black;
  }
.event__image {
    width: 100%;
    height: 80%;
    border-radius: 0 0 10% 10%;
}
.event__title {
    margin-top: 15px;
}

/* EVENT SHOW */

.event__position {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.background {
    width: 100%;
    height: 80%;
    background: #1F3849;
    border-radius: 0 0 30px 30px;
}
.event__background {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    background-size: cover;
}
.event__background--Culture {
    background-image: url(../images/culture.jpeg);
}
.event__background--Restaurant {
    background-image: url("../images/culture.jpeg");
}
.event__background--Sport {
    background-image: url("../images/sport.jpg");
}
.event__background--Party {
    background-image: url("../images/party.jpeg");
}
.event__background--Date {
    background-image: url("../images/party.jpeg");
}
.event__background--Mutual {
    background-image: url("../images/mutual-help.jpg");
}
.event__background--Nature {
    background-image: url("../images/party.jpg");
}
.event-detail__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.event-title h1 {
    font-weight: bold;
    color: #1F3849;
}  
.event-info__container {
    width: 100%;
    height: 80%;
    display: flex;
}
.event-info__description {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
}
.event-info__location {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event-info__location ul {
    list-style-type: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
li i {
    margin-right: 20px;
}
.particpate-button {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.particpate-button button {
    width: 50%;
    border-radius: 30px;
    background: #F67280;
}

/* SEARCH RESULT PAGE */

/* SEARCH NAV */

.search-nav {
    position: fixed;
    display: flex;
    width: 300px;
    height: 90vh;
    border-right: solid white 2px;
    margin: 20px;
}

/*! BACKOFFICE */

/* TABLE */

.table__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 20px;
    min-height: 80vh;
}
.table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    background-color: #1868a1;
    color: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(255, 89, 89, 0.2);
}
.table thead tr, th {
    background-color: rgb(255, 89, 89);
    font-weight: bold;
}
.table thead td {
    padding: 12px 15px;
}
.table tbody tr {
    border-bottom: 1px solid #fff;
}
.table tbody tr:nth-of-type(even) {
    background-color: #227ab9;
}
.table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(255, 89, 89);
}
.table--show {
    text-align: center;
}
.table--show tbody tr:last-of-type {
    border-bottom:none;
}
a.table__button{
    text-align: center;
    font-weight: bold;
    width: 210px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #227ab9;
    color: white;
    margin-right: 20px;
    transition: 0.5s;
}
a.table__button:hover {
    background-color: white;
    color: #227ab9;
}
td:last-child {
    text-align: center;
}
a.action-button {
    background-color: white;
    color: #227ab9;
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;
    font-weight: bold;
}
.table__button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete-button {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    width: 210px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #227ab9;
    color: white;
}
.update-button {
    text-align: center;
    font-size: larger;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #227ab9;
    color: white;
}.update-button:hover {
    background-color: #5eb922;
    color: white;
}
.delete-button--delete:hover {
    background-color: rgb(255, 89, 89);
    color: white;
}

/* FORM */

.form__container {
    margin: 0 auto;
     width: 50%; 
}




