/* body */

body {
    margin: 20px;
    background-color: #22577E;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

/* NAV */

.nav, .nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav, .nav__items a {
    color: #FF914D;
}
.nav__items h1 {
    margin-right: 2em;
    font-family: 'lobster';
}
.nav__items a {
    margin: 0 2em;
}

/* HOME */

/* HOME - SEARCH BAR */

.search-bar {
    background-image: url("../images/travel-mate-logo-no-title.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.search-bar * {
    margin: 0 10px;
}
.search-bar label, legend {
    display: none;
}
#form{
    display: flex;
    flex-direction: row;
    height: 150px;
}
.search-bar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form_name, #form_country, #form_city, #form_category {
    width: 160px;
}
#form_date {
    width: 340px;
}
.form__submit {
    margin: 30px;
    width: 70%;
}


