{% extends 'base.html.twig' %}

{% block body %}

    <div class="search-bar">
        <input type="text">
        <select name="pets" id="pet-select">
            <option value="">Please choose a city</option>
            <option value="">Paris</option>
            <option value="">Miami</option>
            <option value="">Bangkok</option>
        </select>
        <select name="pets" id="pet-select">
            <option value="">Please choose a category</option>
            <option value="">Nature</option>
            <option value="">Sport</option>
            <option value="">Party</option>
        </select>
        <input type="date">
    </div>

{% endblock %}
