{% extends 'base.html.twig' %}

{% block body %}

    <div class="search-bar">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}

            <button type='submit' formnovalidate class="btn btn-light form__submit">Rechercher</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
