<header>
    <nav class="nav">
        <div class="nav__items">
            <h1>Travel Mate</h1>
            <a href="">home</a>
            <a href="">destination</a>
            <a href="">categories</a>
        </div>
        <div class="nav__account">
            <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Account
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
            </div>
        </div>
    </nav>
</header>